.new-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 2rem;
}

.new-post-input {
  width: 34rem;
  height: 6rem;
}
.new-post-form button {
  width: 6rem;
  margin-top: 1rem;
  align-self: flex-end;
}

.new-post-form {
  display: flex;
  width: 30rem;
  flex-direction: column;
}
