.user-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}
  
.status-input {
  width: 28rem;
  
}

.new-post-input {
  width: 34rem;
  
}
.new-post-form button {
  width: 6rem;
  align-self: flex-end;
}

.new-post-form {
  display: flex;
  width: 30rem;
  flex-direction: column;
}

.status{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 8rem 3rem 2rem;
  margin-bottom: 3rem;
}